SUPABASE_URL=https://vtnxrqmgroldxqgxdyir.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0bnhycW1ncm9sZHhxZ3hkeWlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MzY0NjIsImV4cCI6MjA5MzIxMjQ2Mn0.gCdY1Fq1djq7FYEZE-jn3j4KGsREcdQLk3eToQw6qCw
PORT=3000
